@import './common.styl'

header-height = 94
rule-color =  #9A9B9D

body {
  position: relative
}
.star {
  position: absolute
  left: mvw(102)
  top: mvh(160 - header-height)
  display: flex;
  justify-content: center
  align-items: center
  img {
    width: mvw(169)
    height: mvw(14)
  }
}
.success {
  height: mvw(20)
  position: absolute
  left: mvw(120)
  top: mvh(170 - header-height)
  display: flex
  justify-content: center
  align-items: center
  img {
    width: mvw(20)
    height: mvw(20)
    margin-right: mvw(10)
  }
  span {
    font-size: 16px
    color: #000000
  }
}
.state {
  width: 100%
  padding: 0 mvw(23)
  box-sizing: border-box
  position: absolute
  left: mvw(0)
  top: mvh(208 - header-height)
  p {
    color: rule-color 
    font-size: 14px
    // font-weight: lighter
    text-align: center
  }
}