<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>pop up</title>
  <link rel="stylesheet" href="../styles/success.css">
</head>
<body>
  <div class="star"><img src="http://res.innersect.net/h5collection/popup/popup-star@3x.png"></div>
  <div class="success">
    <img src="http://res.innersect.net/h5collection/popup/popup-success@2x.png">
    <span>您已成功报名！</span>
  </div>
  <div class="state">
    <p>#FR2 x INNERSECT 诚挚邀请您在2018年8月11日-2018年8月12日,13:00 - 20:00出席活动！</p>
    <p>活动地点：上海市静安区长乐路716号</p>
    <p>凭借活动前短信通知即可入场 :)</p>
    <p>P.S.若无获取参与短信，可于活动期间到场报名</p>
  </div>
</body>
</html>